<style>
	#t{
		font-size: 20px;
	}
</style>
<font size="7">Prueba</font>
<h5 id="t">Editing Zombie</h5>

<%= render 'form', zombie: @zombie %>
<br>
<%= link_to 'Show', @zombie, class:"btn btn-info" %> |
<%= link_to 'Back', zombies_path, class:"btn btn-info" %>
