<style >
#p{
	margin-left:134px ;
	margin-top: 7px;
	font-size: 30px;
}

	
</style>


<p id="p">New Zombie</p>

<%= render 'form', zombie: @zombie %>

<%= link_to 'Back', zombies_path,class:"btn btn-info" %>
